#voegBezienswaardigheidToe-map {
  width: 75%;
  height: 400px;
  background-color: #CCC; }

#openBezienswaardigheid-map {
  width: 75%;
  height: 400px;
  background-color: #CCC; }

body{
	padding-top: 0;
}