#voegBezienswaardigheidToe-map {
  width: 75%;
  height: 400px;
  background-color: #CCC; }

#openBezienswaardigheid-map {
  width: 75%;
  height: 400px;
  background-color: #CCC; }

#wijzigBezienswaardigheid-map{
  width: 75%;
  height: 400px;
  background-color: #CCC; }

  #voegSchoolToe-map{
  width: 75%;
  height: 400px;
  background-color: #CCC; }

body{
	padding-top: 0;
	min-height: 0;
}

.adminlogo{
	margin: 0;
	height: 60px;
}

.terugtekst{
	margin-right: 50px;
}

.terugtekst:hover{
	color: blue;
	text-decoration: underline;
}

.page-wrapper{
	margin: 0;
}

.gebruikerswrapper{
	margin-left: 8%;
	margin-right: 8%;
}

.knop{
	margin: 5px;
}

.zoekgebruikersveld{
	width: 60%;
	margin-left: 10%;
	margin-right: 5%;
	float: left;
}

.gebruikerszoekform{
	margin-bottom: 5%;
}

.gebruikersnav{
	margin-left: 30%;
}

.gebruikersnav li{
	margin: 5px 5px 5px 0px;
}

.knoponderaan{
	margin-left: 35%;
	margin-top: 5%;
}

.nieuwstitel{
	margin-top: 4%;
	text-align: center;
}

.nieuwsknoponderaan{
	margin-left: 45%;
	margin-top: 5%;
}

.nieuwstoevoegen{
	margin-top: 4%;
}

.nieuwsgoedkeuren{
	margin-top: 8%;
}

.nieuwsafbeelding{
	margin-right: 3px;
	margin-bottom: 3px;
}

.opennieuwsknoppenonderaan{
	margin-left: 25%;
}

/*------------*/

.geheel {
	margin-bottom: 1%;
}
/*
.pic {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.geheel:hover .image {
  opacity: 0.3;
}

.geheel:hover .middle {
  opacity: 1;
}
*/
.text {
  color: #5c5c5c;
  font-size: 3em;
}

.omlijnd{
	border: 1px solid #5c5c5c;
	border-radius: 10px
}