body {
	background-color: #fff;
}


.dashboardcontent{
	margin-top: 30px;
	margin-left: 50px;
}

.dashboardheading{
	margin-bottom: 30px;
}

.footer{
	margin-top: 80px;
}

.gebruikerswrapper{
	margin: 0px 50px;
}

.gebruikerszoekform{
	margin-bottom: 30px;
}

.nieuwstoevoegenknop{
	margin-bottom: 40px;
}

.afwijsbutton{
	float:left;
	margin-right: 5px;
}

.goedkeurbutton{
	margin-right: 30px;
}

.gebruikersnav{
	margin-left: 360px;
	margin-bottom: 20px;
}

.tekstHero{
	position: absolute;
}

#tekstHeroLinks{
	margin-left: 2em;
}

#tekstHeroMidden{
	text-align: center;
}

#tekstHeroRechts{
	text-align: right;
	right: 2em;
}

.hero {
	margin-left: auto;
	margin-right: auto;
	width: 1260px;
}

.hero .afbeeldingHero{
	position: relative;
	mask: url(http://i.imgur.com/mH5ZRZ1.png) no-repeat;
}

.hero img{
	width: 100%;
}

.logo{
height:50px;
}

.container{
	position: static;
	z-index: 2;
}


/*****************************
  *     C L E A R F I X    *
*****************************/

.cfx::before, .cfx::after {
    display: table;
    line-height: 0;
    content: "";
}

.cfx::after {
    clear: both;
}

/****************************/


@media screen and (min-width:1280px){