body {
	background-color: #fff;
}

.tekstHero{
	position: absolute;
}

#tekstHeroLinks{
	margin-left: 2em;
}

#tekstHeroMidden{
	text-align: center;
}

#tekstHeroRechts{
	text-align: right;
	right: 2em;
}

.hero {
	margin-left: auto;
	margin-right: auto;
	width: 1260px;
}

.hero .afbeeldingHero{
	position: relative;
	mask: url(http://i.imgur.com/mH5ZRZ1.png) no-repeat;
}

.hero img{
	width: 100%;
}

.logo{
height:50px;
}

.container{
	position: static;
	z-index: 2;
}

@media screen and (min-width:1280px){