.heroafbeelding{
	width: 100%;
	overflow: hidden;
	display: inline-block;
	vertical-align: center;
}

.heroafbeelding img{
	width: 100%;
    left:0; right: 0;
    margin: auto;
}

.geopendNieuwsitem .titel{
	color: #0099cc;
	font-family: Antwerpen;
	top: 20em;
	text-align: center;
}

.extraNieuwsitems h2{
	text-align: center;
}

.extraNieuwsitems p{
	margin-bottom: 5px;
}

.geopendNieuwsitem p{
	font-size: 1.2em;
}

.geopendNieuwsitem .datum{
	font-family: georgia;
}

.geopendNieuwsitem h2{
	font-family: SunAntwerpen;
	font-size: 1.6em;
}

.geopendNieuwsitem .tag{
	font-size: 1em;
	margin-bottom: 1em;
}

.geopendNieuwsitem .tag .tagbutton{
	background-color: #0099cc;
	color: white;
	border: none;
	text-align: center;
	cursor: pointer;
	padding: 1em;
}

.afbeeldingenNieuwsitem img{
	width: 100%;
	margin-top: 1em;
}

.extraNieuwsitems{
	margin-bottom: 7em;
}

@media (min-width: 768px) {
	.heroafbeelding img{
	top:-100%;
	bottom:-100%;
	position: absolute;
	min-height: 40vh;
	}

	.heroafbeelding{
		height: 60vh;
	}

	.inhoudNieuwsitem{
		margin-bottom: 7em;
	}
}