.heroafbeelding{
	width: 100%;
	overflow: hidden;
	display: inline-block;
	vertical-align: center;
}

.heroafbeelding img{
	width: 100%;
    left:0; right: 0;
    margin: auto;
}

.geopendNieuwsitem .titel{
	color: #0099cc;
	font-family: Antwerpen;
	top: 20em;
	text-align: center;
}

.extraNieuwsitems h2{
	text-align: center;
}

.extraNieuwsitems p{
	margin-bottom: 5px;
}

.geopendNieuwsitem p{
	font-size: 1.2em;
}

.geopendNieuwsitem .datum{
	font-family: georgia;
}

.geopendNieuwsitem h2{
	font-family: SunAntwerpen;
	font-size: 1.6em;
}

.geopendNieuwsitem .tag{
	font-size: 1em;
	margin-bottom: 1em;
}

.geopendNieuwsitem .tag .tagbutton{
	background-color: #0099cc;
	color: white;
	border: none;
	text-align: center;
	cursor: pointer;
	padding: 1em;
}

.afbeeldingenNieuwsitem img{
	width: 100%;
	margin-top: 1em;
}

.extraNieuws{
	margin-bottom: 7em;
	text-align: center;
}

.extraNieuws h2{
	padding-bottom: 10px;
	border-bottom: 2px solid #0099cc;
}

.extraNieuws p{
	margin-top: 0px;
}

.extraNieuws .item{
	margin-bottom: 1em;
	left: 10%;
	width: 80%;
	border-bottom: 1px solid #000000;
	text-align: center;
}

.extraNieuws .item h4{
	margin-bottom: 0px;
	margin-left: -20%;
	margin-right: -20%;
}

.extraNieuws .item:last-child{
	border-bottom: 0px;
}

.enkeleAfbeelding{
	height: 12em;
	overflow: hidden;
	float: right;
}

.afbeeldingenNieuwsitem .enkeleAfbeelding img{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-top: -100%;
	margin-bottom: -100%;
	margin: auto;

}

@media (min-width: 768px) {
	.heroafbeelding img{
	top:-100%;
	bottom:-100%;
	position: absolute;
	min-height: 40vh;
	}

	.heroafbeelding{
		height: 60vh;
	}

	.inhoudNieuwsitem{
		margin-bottom: 7em;
	}

	.geopendNieuwsitem .titel{
		text-align: left;
	}
}