.parallax {
    /* The image used */
    background-image: url("{{ asset('img/hero1.jpg') }}");

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.praktisch .tekst{
	background-color: #8dc8e8;
	text-align: center;
	color: white;
    display: block;
    overflow: auto;
}

.praktisch .tekst p{
	font-size: 1.5em;
}

.praktisch .tekst h1{
	font-size: 3em;
}

.tekst .icon{
	font-size: 10em;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

.tekst .col-lg-4{
	padding-left: 5%;
	padding-right: 5%;
}

.fototekst{
	text-align: center;
	font-family: Antwerpen;
	font-size: 6em;
	color: white;
	position: relative;
	overflow: hidden;
	top: 70%;
}

.footer{
	margin-top: -.7em;
}

/* achtergrondkleuren per hoofdstuk */
.praktisch #vervoer .tekst{
	background-color: #0091D2;
}

.praktisch #fuiven .tekst{
	background-color: #8431A5;
}

.praktisch #parken .tekst{
	background-color: #6DC24B;
}

.praktisch #sport .tekst{
	background-color: #0091D2;
}

.praktisch #kot .tekst{
	background-color: #4F758A;
}