.videospel{
	position: relative;
	top: 80%;
	left: 26%;
	z-index: -1;
}

@media screen and (max-width: 780px)
{
	.legesmartphone{
		display: none;
	}
	.videospel{
		left: 0%;
	}
}

.legesmartphone{
	position: relative;
	vertical-align: top;
	left: -20.5%;
}

.demo{
	text-align: center;
}

.achtergrondkleur{
	width: 100%;
	height: 12%;
	background-color: #387C70; /*#0099CC;*/
	position: absolute;
	top: 71%;
	left: 0%;
}

.khoogte{
	height: 200px;
}

.onderkant{
	height: 160%;
}

.afbeelding img{
	width: 100%;
	height: auto;
	margin-left: 50%;
}

.afbeelding{
	/*margin-top: 20%;
	margin-left: 80%;*/
	width: 53%;
}

.afbeeldingtekst h3{
	margin-left: 50%;
	margin-top: 21.5%;
}

.afbeeldingtekst{
	width: 60%;
	/*margin-top: 28%;
	margin-left: 40%;*/
}

.uitzondering{
	position: relative;
	left: 30%;
}

.uitzondering h3{
	color: white;
	margin-left: 0;
	margin-top: 30%;
}

.onderkant{
	height: 100%;
	margin-top: 3%;
}

@media screen and (max-width: 1261px){
	
	.achtergrondkleur{
		height: 10%;
	}
}

@media screen and (max-width: 1201px){
	.achtergrondkleur{
		top: 69.5%;
	}
}

@media screen and (max-width: 1180px){
	.achtergrondkleur{
		top: 69%;
	}
}

@media screen and (max-width: 1160px){
	.achtergrondkleur{
		top: 68.5%;
	}
}

@media screen and (max-width: 992px){
	.achtergrondkleur{
		height: 22%;
		top: 55%;
	}

	.beker{
		margin-top: 5%;
	}

	.afbeeldingtekst h3{
		margin-top: 0;
	}
}

@media screen and (max-width: 900px){
	.achtergrondkleur{
		top: 54.5%;
	}
}

@media screen and (max-width: 770px){
	
	.achtergrondkleur{
		top: 50.5%;
		height: 21.3%;
	}

	.khoogte{
		height: auto;
	}

	.blok{
		display: block;
	}

	.uitzondering h3{
		margin-left: -6%;
		margin-top: 5%;
	}

	.laatste{
		margin-bottom: 30%;
	}

	.afbeeldingtekst{
		margin-left: 12%;
	}
}

@media screen and (max-width: 723px){
	.achtergrondkleur{
		top: 51.5%;
		height: 21%;
	}
}

@media screen and (max-width: 690px){
	.achtergrondkleur{
		top: 52%;
		height: 21%;
	}
}

@media screen and (max-width: 550px){
		.achtergrondkleur{
		top: 52%;
		height: 21.3%;
	}
}
