.videospel{
	position: relative;
	top: 80%;
	left: 26%;
	z-index: -1;
}

@media screen and (max-width: 780px)
{
	.legesmartphone{
		display: none;
	}
	.videospel{
		left: 0%;
	}

	video{
		width: 100%;
		height: 100%;
	}
}

.legesmartphone{
	position: relative;
	vertical-align: top;
	left: -20.5%;
}

.demo{
	text-align: center;
}

.achtergrondkleur{
	width: 100%;
	background-color: #387C70;
	position: relative;
}

.gameInfo1, .gameInfo2, .gameInfo3{
	height: 200px;
}

.gameInfo3{
	margin-bottom: 7%;
}

.afbeelding img{
	width: 100%;
	height: auto;
	margin-left: 50%;
}

.afbeelding{
	width: 53%;
}

.afbeeldingtekst h3{
	margin-left: 50%;
	margin-top: 21%;
}

.afbeeldingtekst{
	width: 60%;
}

.uitzondering h3{
	color: white;
	margin-left: 0;
	position: relative;
	left: 40%;
}

.gameInfo .afbeelding{
	margin-top: 7.5%;
}

.gameInfo h3{
	margin-top: 40%;
}

.onderkant{
	    text-align: center;
		margin-bottom: 10%;
}

@media screen and (max-width: 992px){

	.onderkant{
	    display: table;
	}

	.onderkant .gameInfo{
	    display: table-cell;
	    vertical-align: middle;
	    float: none;
	}
}


/*
@media screen and (max-width: 900px){
	.achtergrondkleur{
		top: 54.5%;
	}
}

@media screen and (max-width: 770px){
	
	.achtergrondkleur{
		top: 50.5%;
		height: 21.3%;
	}

	.khoogte{
		height: auto;
	}

	.blok{
		display: block;
	}

	.uitzondering h3{
		margin-left: -6%;
		margin-top: 5%;
	}

	.laatste{
		margin-bottom: 30%;
	}

	.afbeeldingtekst{
		margin-left: 12%;
	}
}

@media screen and (max-width: 723px){
	.achtergrondkleur{
		top: 51.5%;
		height: 21%;
	}
}

@media screen and (max-width: 690px){
	.achtergrondkleur{
		top: 52%;
		height: 21%;
	}
}

@media screen and (max-width: 550px){
		.achtergrondkleur{
		top: 52%;
		height: 21.3%;
	}
}
*/