/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #0099cc;
  color: #ffffff;
  font-family: SunAntwerpen;
}

.footer a{
  color: yellow;
}

.footer p{
}

body{
  padding-bottom: 1em;
}